# Challenge: Text Into Data

```yaml
Course:   DS 5001 
Module:   02 Text Models
Topic:    Text into Data Challenge
Author:   R.C. Alvarado
Date:     14 October 2022 (revised)
```

## Purpose

Ww import a text using the  Clip, Chunk, and Split pattern.

Demonstrate how to tokenize a raw text and map an OHCO onto the resulting dataframe of tokens.

In this notebook, we use the pattern from `M02_01` on a new text.

## Recipe

### Create TOKEN table

1. Inspect source text, taking note of where it begins and ends and the header patterns.
2. Import the source text into a dataframe of line strings.
3. Extract the title.
4. Clip the cruft by using regexs for the beginning and end of the actual text.
5. Chunk by using a regex for chapter headings, assign lines, and group.
6. Split into paragraphs using new lines.
7. Split into sentences using regex.
8. Split into tokens using regex.

## Create VOBAB table

1. Get token value counts and save as data frame.

## Set Up

In [1]:
import pandas as pd

### Import Config

In [2]:
import configparser
config = configparser.ConfigParser()
config.read("../../../env.ini")
data_home = config['DEFAULT']['data_home']
output_dir = config['DEFAULT']['output_dir']

In [3]:
text_file = f"{data_home}/gutenberg/pg161.txt"
csv_file = f"{output_dir}/austen-sense-and-sensibility.csv" # The file we will create

In [4]:
OHCO = ['chap_num', 'para_num', 'sent_num', 'token_num']

## Import file into a dataframe

In [5]:
#Create a dataframe in pandas, open a text file, sometimes encode, readlines opens a file and converst to strings, name column "line_str"
LINES = pd.DataFrame(open(text_file, 'r', encoding='utf-8-sig').readlines(), columns=['line_str'])

#Create a column with the index number
LINES.index.name = 'line_num'

# Replace line breaks
LINES.line_str = LINES.line_str.str.replace(r'\n+', ' ', regex=True).str.strip()

In [6]:
LINES.sample(20)

                                                   line_str
line_num
4249                 sister-in-law's mother, Mrs. Ferrars?"
6621      Dashwood's communication, in such an instantan...
1890      evening with them, and Margaret, by being left...
12639
6390      grieves me to see her!  And I declare if she i...
5026      to go wherever I do, well and good, you may al...
9831      takes place, depend upon it his mother will fe...
10404     Half an hour passed away, and the favourable s...
10931     "You are very wrong, Mr. Willoughby, very blam...
12163              any amends for the defect of the style."
5743      drawing-room fire after tea, till the moment o...
4897      which I understand is a very good one, and the...
7388      After staying with them half an hour, he asked...
5388      or in other words, in every variety of inquiry...
5194
4877      creature, there is no finding out who SHE likes."
10239     situation continued, with little variation, th...
3630
7539      treating you in this kind of way, she has give...
5278

## Extract Title

In [8]:
title = LINES.loc[0].line_str.replace('The Project Gutenberg EBook of ', '')

In [9]:
print(title)

Sense and Sensibility, by Jane Austen

## Clip Cruft

In [10]:
#Regular expression
clip_pats = [
    r"\*\*\*\s*START OF (?:THE|THIS) PROJECT",
    r"\*\*\*\s*END OF (?:THE|THIS) PROJECT"
]

In [11]:
#Search for lines that match the regular expressions
pat_a = LINES.line_str.str.match(clip_pats[0])
pat_b = LINES.line_str.str.match(clip_pats[1])

In [12]:
# indicate lines between these things
line_a = LINES.loc[pat_a].index[0] + 1
line_b = LINES.loc[pat_b].index[0] - 1

In [13]:
# Lines that contain the story
line_a, line_b

(20, 12666)

In [14]:
#Selct just the lines that contain the story in the lines
LINES = LINES.loc[line_a : line_b]

## Chunk by chapter

### Find all chapter headers

The regex will depend on the source text. You need to investigate the source text to figure this out.

In [15]:
#Regular expression to find chapters
chap_pat = r"^\s*(?:chapter|letter)\s+\d+"

In [16]:
#A vector of lines where there are chapters
chap_lines = LINES.line_str.str.match(chap_pat, case=False) # Returns a truth vector

In [17]:
#Filter the LINES data frame to find chapters
LINES.loc[chap_lines] # Use as filter for dataframe

            line_str
line_num
42         CHAPTER 1
196        CHAPTER 2
399        CHAPTER 3
561        CHAPTER 4
756        CHAPTER 5
858        CHAPTER 6
986        CHAPTER 7
1112       CHAPTER 8
1244       CHAPTER 9
1448      CHAPTER 10
1665      CHAPTER 11
1816      CHAPTER 12
1997      CHAPTER 13
2281      CHAPTER 14
2440      CHAPTER 15
2718      CHAPTER 16
2945      CHAPTER 17
3153      CHAPTER 18
3331      CHAPTER 19
3632      CHAPTER 20
3913      CHAPTER 21
4214      CHAPTER 22
4532      CHAPTER 23
4767      CHAPTER 24
5001      CHAPTER 25
5197      CHAPTER 26
5454      CHAPTER 27
5732      CHAPTER 28
5883      CHAPTER 29
6324      CHAPTER 30
6628      CHAPTER 31
7004      CHAPTER 32
7278      CHAPTER 33
7601      CHAPTER 34
7888      CHAPTER 35
8152      CHAPTER 36
8456      CHAPTER 37
8900      CHAPTER 38
9205      CHAPTER 39
9408      CHAPTER 40
9706      CHAPTER 41
9977      CHAPTER 42
10155     CHAPTER 43
10490     CHAPTER 44
11060     CHAPTER 45
11278     CHAPTER 46
11571     CHAPTER 47
11838     CHAPTER 48
11986     CHAPTER 49
12410     CHAPTER 50

### Assign numbers to chapters

In [21]:
#For all headers, apply a vector of numbers to the dataframe
LINES.loc[chap_lines, 'chap_num'] = [i+1 for i in range(LINES.loc[chap_lines].shape[0])]

In [22]:
LINES.loc[chap_lines]

            line_str  chap_num
line_num
42         CHAPTER 1       1.0
196        CHAPTER 2       2.0
399        CHAPTER 3       3.0
561        CHAPTER 4       4.0
756        CHAPTER 5       5.0
858        CHAPTER 6       6.0
986        CHAPTER 7       7.0
1112       CHAPTER 8       8.0
1244       CHAPTER 9       9.0
1448      CHAPTER 10      10.0
1665      CHAPTER 11      11.0
1816      CHAPTER 12      12.0
1997      CHAPTER 13      13.0
2281      CHAPTER 14      14.0
2440      CHAPTER 15      15.0
2718      CHAPTER 16      16.0
2945      CHAPTER 17      17.0
3153      CHAPTER 18      18.0
3331      CHAPTER 19      19.0
3632      CHAPTER 20      20.0
3913      CHAPTER 21      21.0
4214      CHAPTER 22      22.0
4532      CHAPTER 23      23.0
4767      CHAPTER 24      24.0
5001      CHAPTER 25      25.0
5197      CHAPTER 26      26.0
5454      CHAPTER 27      27.0
5732      CHAPTER 28      28.0
5883      CHAPTER 29      29.0
6324      CHAPTER 30      30.0
6628      CHAPTER 31      31.0
7004      CHAPTER 32      32.0
7278      CHAPTER 33      33.0
7601      CHAPTER 34      34.0
7888      CHAPTER 35      35.0
8152      CHAPTER 36      36.0
8456      CHAPTER 37      37.0
8900      CHAPTER 38      38.0
9205      CHAPTER 39      39.0
9408      CHAPTER 40      40.0
9706      CHAPTER 41      41.0
9977      CHAPTER 42      42.0
10155     CHAPTER 43      43.0
10490     CHAPTER 44      44.0
11060     CHAPTER 45      45.0
11278     CHAPTER 46      46.0
11571     CHAPTER 47      47.0
11838     CHAPTER 48      48.0
11986     CHAPTER 49      49.0
12410     CHAPTER 50      50.0

### Forward-fill chapter numbers to following text lines

`ffill()` will replace null values with the previous non-null value.

In [23]:
#ffill (forward fill) essentially drags down the chapter number to subsequent rows will NaN's 
LINES.chap_num = LINES.chap_num.ffill()

In [24]:
LINES.sample(10)

                                                   line_str  chap_num
line_num
9160       dear Mrs. Jennings, I spent two happy hours with      38.0
9615      a look so serious, so earnest, so uncheerful, ...      40.0
8276      five minutes after it stopped at the door, a p...      36.0
4969      Elinor was soon called to the card-table by th...      24.0
6770      a short one.  On such a subject," sighing heav...      31.0
12428     as rapidly as before.  With apprehensive cauti...      50.0
3088                            is not often really merry."      17.0
7859                       said in a low, but eager, voice,      34.0
3737      wished to appear.  His temper might perhaps be...      20.0
4466      us at Longstaple, to go to you, that I was afr...      22.0

### Clean up

In [25]:
LINES = LINES.dropna(subset=['chap_num']) # Remove everything before Chapter 1
# LINES = LINES.loc[~LINES.chap_num.isna()] # Remove everything before Chapter 1 (alternate method)
LINES = LINES.loc[~chap_lines] # Remove chapter heading lines; their work is done
LINES.chap_num = LINES.chap_num.astype('int') # Convert chap_num from float to int

### Group lines into chapters

In [26]:
OHCO[:1]

['chap_num']

In [27]:
# Make big string for each chapter - data frame where each line is a chapter
CHAPS = LINES.groupby(OHCO[:1])\
    .line_str.apply(lambda x: '\n'.join(x))\
    .to_frame('chap_str')

In [28]:
CHAPS.head(10)

                                                   chap_str
chap_num
1         \n\nThe family of Dashwood had long been settl...
2         \n\nMrs. John Dashwood now installed herself m...
3         \n\nMrs. Dashwood remained at Norland several ...
4         \n\n"What a pity it is, Elinor," said Marianne...
5         \n\nNo sooner was her answer dispatched, than ...
6         \n\nThe first part of their journey was perfor...
7         \n\nBarton Park was about half a mile from the...
8         \n\nMrs. Jennings was a widow with an ample jo...
9         \n\nThe Dashwoods were now settled at Barton w...
10        \n\nMarianne's preserver, as Margaret, with mo...

#Identify the pattern of paragraphs
para_pat = r'\n\n+'## Split chapters into paragraphs 

We use Pandas' convenient `.split()` method with `expand=True`, followed by `.stack()`.
Note that this creates zero-based indexes.

In [29]:
#Identify the pattern of paragraphs
para_pat = r'\n\n+'

In [30]:
PARAS = CHAPS['chap_str'].str.split(para_pat, expand=True).stack()\
    .to_frame('para_str').sort_index()
PARAS.index.names = OHCO[:2]

In [31]:
PARAS.head()

                                                            para_str
chap_num para_num
1        0
         1         The family of Dashwood had long been settled i...
         2         By a former marriage, Mr. Henry Dashwood had o...
         3         The old gentleman died: his will was read, and...
         4         Mr. Dashwood's disappointment was, at first, s...

## Split paragraphs into sentences

In [32]:
# Consider how arbitrary it is to define sentences 
# sent_pat = r'[.?!;:"]+'
sent_pat = r'[.?!;:]+'
SENTS = PARAS['para_str'].str.split(sent_pat, expand=True).stack()\
    .to_frame('sent_str')
SENTS.index.names = OHCO[:3]

In [33]:
SENTS = SENTS[~SENTS['sent_str'].str.match(r'^\s*$')] # Remove empty paragraphs
SENTS.sent_str = SENTS.sent_str.str.strip() # CRUCIAL TO REMOVE BLANK TOKENS

In [34]:
SENTS.head()

                                                                     sent_str
chap_num para_num sent_num
1        1        0         The family of Dashwood had long been settled i...
                  1         Their estate\nwas large, and their residence w...
                  2         The late owner of this estate was a single\nma...
                  3         But her\ndeath, which happened ten years befor...
                  4         for to supply her loss, he invited and receive...

## Split sentences into tokens

In [35]:
token_pat = r"[\s',-]+"
TOKENS = SENTS['sent_str'].str.split(token_pat, expand=True).stack()\
    .to_frame('token_str')

In [36]:
TOKENS.index.names = OHCO[:4]

In [37]:
TOKENS

                                        token_str
chap_num para_num sent_num token_num
1        1        0        0                  The
                           1               family
                           2                   of
                           3             Dashwood
                           4                  had
...                                           ...
50       23       0        8                  and
                           9          Sensibility
                           10                  by
                           11                Jane
                           12              Austen

[122882 rows x 1 columns]

## Extract Vocabulary

In [38]:
TOKENS['term_str'] = TOKENS.token_str.replace(r'[\W_]+', '', regex=True).str.lower()
VOCAB = TOKENS.term_str.value_counts().to_frame('n').reset_index().rename(columns={'index':'term_str'})
VOCAB.index.name = 'term_id'

In [39]:
VOCAB

            term_str     n
term_id
0                 to  4115
1                the  4105
2                 of  3574
3                and  3490
4                her  2543
...              ...   ...
6275          prefer     1
6276      dissolving     1
6277           beset     1
6278     effectually     1
6279          austen     1

[6280 rows x 2 columns]

## Gathering by Content Object

In [40]:
#This is a function that reconcatonates tokens into another level in the OHCO
def gather(ohco_level):
    global TOKENS
    level_name = OHCO[ohco_level-1].split('_')[0]
    df = TOKENS.groupby(OHCO[:ohco_level])\
        .token_str.apply(lambda x: x.str.cat(sep=' '))\
        .to_frame(f"{level_name}_str")
    return df

In [41]:
gather(1)

                                                   chap_str
chap_num
1         The family of Dashwood had long been settled i...
2         Mrs John Dashwood now installed herself mistre...
3         Mrs Dashwood remained at Norland several month...
4         "What a pity it is Elinor " said Marianne "tha...
5         No sooner was her answer dispatched than Mrs D...
6         The first part of their journey was performed ...
7         Barton Park was about half a mile from the cot...
8         Mrs Jennings was a widow with an ample jointur...
9         The Dashwoods were now settled at Barton with ...
10        Marianne s preserver as Margaret with more ele...
11        Little had Mrs Dashwood or her daughters imagi...
12        As Elinor and Marianne were walking together t...
13        Their intended excursion to Whitwell turned ou...
14        The sudden termination of Colonel Brandon s vi...
15        Mrs Dashwood s visit to Lady Middleton took pl...
16        Marianne would have thought herself very inexc...
17        Mrs Dashwood was surprised only for a moment a...
18        Elinor saw with great uneasiness the low spiri...
19        Edward remained a week at the cottage he was e...
20        As the Miss Dashwoods entered the drawing room...
21        The Palmers returned to Cleveland the next day...
22        Marianne who had never much toleration for any...
23        However small Elinor s general dependence on L...
24        In a firm though cautious tone Elinor thus beg...
25        Though Mrs Jennings was in the habit of spendi...
26        Elinor could not find herself in the carriage ...
27        "If this open weather holds much longer " said...
28        Nothing occurred during the next three or four...
29        Before the house maid had lit their fire the n...
30        Mrs Jennings came immediately to their room on...
31        From a night of more sleep than she had expect...
32        When the particulars of this conversation were...
33        After some opposition Marianne yielded to her ...
34        Mrs John Dashwood had so much confidence in he...
35        Elinor s curiosity to see Mrs Ferrars was sati...
36        Within a few days after this meeting the newsp...
37        Mrs Palmer was so well at the end of a fortnig...
38        Mrs Jennings was very warm in her praise of Ed...
39        The Miss Dashwoods had now been rather more th...
40        "Well Miss Dashwood " said Mrs Jennings sagaci...
41        Edward having carried his thanks to Colonel Br...
42        One other short call in Harley Street in which...
43        Marianne got up the next morning at her usual ...
44        Elinor starting back with a look of horror at ...
45        Elinor for some time after he left her for som...
46        Marianne s illness though weakening in its kin...
47        Mrs Dashwood did not hear unmoved the vindicat...
48        Elinor now found the difference between the ex...
49        Unaccountable however as the circumstances of ...
50        After a proper resistance on the part of Mrs F...

TOKENS.to_csv(csv_file)## Save work to CSV

This is important -- will be used for homework.

In [42]:
TOKENS.to_csv(csv_file)